.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  width: fit-content;
  margin-bottom: 50px;
}
.label {
  display: flex;
  flex-direction: column;
}
.flex_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCenter2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  margin-top: 70px;
  display: flex;
  padding: 0 150px;
  gap: 20px;
  flex-wrap: wrap;
}
.item {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.name {
  font-size: 18px;
  font-weight: 500;
}
.input {
  border: 1px solid black;
  border-radius: 4px;
  width: 250px;
  padding: 5px 10px;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  outline: none;
  border-radius: 4px;
  background-color: rgb(59, 113, 114);
  padding: 5px 10px;
  max-width: 150px;
}
.btn_delete {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  outline: none;
  border-radius: 4px;
  background-color: rgb(150, 4, 4);
  padding: 5px 10px;
  max-width: 150px;
}
.btn_delete:hover {
  background-color: rgb(91, 7, 7);
}
.error {
  color: rgb(157, 9, 9);
  font-size: 14px;
}
.btn:hover {
  background-color: rgb(54, 154, 155);
}


.formLog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
  box-shadow: 0 0 9px 5px black;
  background-color: white;
  max-width: 350px;
}
.labelLog {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: bold;
}
.inputLog {
  padding: 5px 15px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 1px gray;
  font-size: 1.5rem;
  /* width: 100%; */
}

.inputWrapper {
  position: relative;

}
.addForm{
  display: flex;
  justify-content: center;
}

.iconBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.logo{
  color: white;
  text-decoration: none;
}
.logo:hover{
  cursor: pointer;
  text-decoration: underline;
  color: rgb(155, 152, 152);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: rgb(146, 76, 86);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 50px;

  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
         a:hover {
           color: rgb(158, 156, 156);
           text-decoration: underline;
         }
      
  }
  
}

.active {
  color: black !important;
}

.red {
  color: red;
  font-size: 1rem;
}