:root {
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: rgb(248, 243, 243);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 100px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
